<div class="formulario" style="margin-top: 2rem; padding: 1rem;">
  <form action="post">
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="nombre_completo" type="text" class="validate">
            <label for="nombre_completo">Nombre completo</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="correo_electronico" type="email" class="validate">
            <label for="correo_electronico">Correo electrónico</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="1 (809-803-2434)" id="telefono" type="tel" class="validate">
            <label for="telefono">Numero telefonico</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="mensaje" class="materialize-textarea"></textarea>
            <label for="mensaje">Mensaje</label>
          </div>
        </div>

        <button class="waves-effect waves-light btn-large btn-orange" type="submit">Enviar</button>

      </form>
    </div>
  </form>
</div>

<script>
  $('select').formSelect();
</script>